.git
.gitignore
.env
.env.*
!.env.example
node_modules
vendor
storage/logs/*
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
storage/app/public/*
tests
.phpunit.cache
.phpunit.result.cache
README.md
*.md
docker-compose*.yml
